body {
    color: #033ce7;
    background-color: #EEEEEE;
    font-size: 18px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h1, h2 {
    font-family: sans-serif;
}

ul {
    list-style-type: circle;
}

ol {
    list-style: upper-roman;
}

