* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    writing-mode: horizontal-tb;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    border: 1px solid red;
    height: 300px;
    display: flex;;
    justify-content: center;
    align-items: center;
}
img {
    border: 1px solid red;
}

.menu {
    background-color: #5995da;
    height: 80px;
}

.header {
    background-color: #b2d6ff;;
}

.content {
    background-color: #EAEDF0;
    height: 600px;
}
  
.sign-up {
    background-color: #D6E9FE;
}

.feature-1 {
    background-color: #F5CF8E;
}

.feature-2 {
    background-color: #F09A9D;
}

.feature-3 {
    background-color: #C8C6FA;
}

.illustration img {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 50%;
    }
}

@media only screen and (min-width: 1201px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 33.3%;
    }
    .header {
        height: 400px;
    }

    .sign-up {
        height: 200px;
        order: 1;
    }
    .content {
        order: 2;
    }
}